<!-- グリッドシステム -->
<div class="container">
	<div class="row">
		<div class="col-md-offset-1 col-md-11">
  	  <div class="welocome-m">
        <h1>
       		welcome to
        		<span class="fas fa-book">
         			<strong>Bookers</strong>  !!
         		</span>
       	</h1>
      </div>
    </div>
  </div>
</div>