/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

/**{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}*/

/*header{
	position: relative;
	width: 100%;
	background-color: black;
	color: #ffffff;
}
.header-menu{
	margin: 0 50px;
	padding: 10px;
}

.header-nav{
	position: absolute;
	top: 40px;
	right: 50px;
}
.header-nav-item{
	display: inline-block;
	margin-left: 20px;
}*/

li{
	list-style: none;
}

footer{
	margin: 0 50px;
	text-align: right;
}

/*login Signup*/
.log-in, .Sign-up{
	margin: 0 50px;
}

/*user_info部分テンプレート*/
.user-img{
	margin: 10px;
}

/*エラーメッセージ*/
.error-m{
	color: red;
}

/*book new*/
table, th{
	border-bottom: 1px solid gray;
}
td{
	border-bottom: solid gray;
}
table{
	border-collapse: collapse;
}

.user-img{
	width: 70px;
}
.user-name{
	width: 120px;
}
.book-title{
	width: 200px;
}
.book-body{
	width: 400px;
}
.user-info{
	list-style: none;
}
/*book edit*/
.editing{
	margin: 0 50px;
}
.back-link{
	position: left;
}

/*user index*/
.user-none{
	width: 40%;
}

.welocome-m{
	margin: none;
}
